* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

html,
body,
#root {
  width: 100%;
  background-color: black;
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
  position: relative;
}

section {
  min-height: 100vh;
  border: 2px solid white;
  position: relative;
  z-index: 2;
}

#section-1 {
  --gap: 5rem;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
    padding-top: 3.5rem;
    font-size: 1rem;

    .nav-elem {
      color: white;
    }

    svg {
      max-width: 5rem;
      width: 100%;
      height: 100%;
    }
  }

  .middle {
    display: flex;
    gap: var(--gap);

    .left,
    .right {
      width: 50%;
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-block: 3rem;
    }

    h1 {
      font-family: GT Sectra Display, Times, Georgia, serif;
      font-size: 6.5rem;
      line-height: 0.8;
      text-align: right;
    }
  }
  .bottom {
    display: flex;
    gap: var(--gap);

    .left {
      width: 50%;
    }
    .right {
      width: 50%;
      display: flex;
      align-items: top;
      justify-content: flex-start;
      text-align: left;

      p {
        font-weight: 300;
        line-height: 1.5;
      }
    }
  }
}
